body
{
    font-family: "Cedarville Cursive", cursive;
    background-color: rgb(12, 154, 124);
}

.header_div{
background-color: rgb(0, 8, 255);
color: rgb(41, 213, 32);
}

.header_div p {
    font-family: "Caveat", cursive;
color:rgb(179, 17, 71);
letter-spacing: 2px;
font-size: 12px;
font-weight: bolder;
}

.main_div button{
    font-family: "Honk", system-ui;
    margin-top: 30px;
    width:130px;
    font-weight:bolder;
    letter-spacing: 3px;
}

.copy_right_footer{
position: fixed;
color: darkcyan;
width:100%;
font-size:18px;
background-color: rgb(186, 224, 141);
line-height: 3;
text-align: center;
text-shadow: 5px 5px 5px rgb(9, 0, 6);
bottom: 0;
}